<section class="bg-secondary-color py-4">
  <div class="container">
    <div class="content d-flex flex-column align-items-center">
      <img src="../../assets/images/avataaars.svg" class="w-25 my-4" alt="" />
      <h1 class="text-white fa-3x fw-bold text-uppercase">Start Angular</h1>
      <p class="my-4 two-lines">
        <i class="fa-solid fa-star text-white fa-2x"></i>
      </p>
      <p class="text-white fa-2x">
        Graphic Artist - Web Designer - Illustrator
      </p>
    </div>
  </div>
</section>
