.portfolio-card {
  position: relative;
  cursor: pointer;
}
.portfolio-card:hover .overlay {
  opacity: 80%;
}
.overlay {
  position: absolute;
  background-color: #1bbc9b;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
button {
  background-color: #1bbc9b;
  color: white;
}

button:hover {
  background-color: #19a589 !important ;
  color: white;
}

.modal {
  --bs-modal-width: 800px !important;
}
.fa-xmark {
  color: #19a589;
  cursor: pointer;
}
